@model frame.Models.User
@{
    ViewBag.Title = "Account Admin";
    Layout = "~/Views/SharedAdmin/_LayoutEmpty.cshtml";
    var Error = ViewBag.Error;
}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                    Welcome
                </span>
                <div class="text-danger">@Error</div>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>
                @using (Html.BeginForm("AccountAdmin","Admin", FormMethod.Post, new {@class = "my_form"}))
                {
                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                    <input class="input100" type="email" name="email" id="username">
                    <span class="focus-input100" data-placeholder="Email"></span>
                    @Html.ValidationMessageFor(model => model.email,"",new {@class = "text-danger"})
                   
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" type="password" name="password" id="passwordlg">                
                    <span class="focus-input100" data-placeholder="Password"></span>
                     @Html.ValidationMessageFor(model => model.password,"",new {@class = "text-danger"})
                   
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit" value="login" class="submit-login" name="submit">Login
                            @* <input type="submit" value="login" class="submit-login" name="submit"> *@
                        </button>
                    </div>
                </div>
                
                }
                <div class="text-center p-t-115">
                    <span class="txt1">
                        Don’t have an account?
                    </span>

                    <a class="txt2" href="#">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
	