@{
    ViewBag.Title = "Add Customer";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}
@{
    var sessionName = new Byte[20];
    bool ok = Context.Session.TryGetValue("login", out sessionName);
    string result = "";
    User users = null;
    if (ok)
    {
        result = System.Text.Encoding.UTF8.GetString(sessionName);
        users = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(result);
    }
}
@if(users == null) {
    <h5 class="text-danger mt-5 d-flex justify-content-center">Bạn không có quyền vào trang này. Vui lòng <a class="text-light ml-1"href="../../Admin/AccountAdmin"> đăng nhập</a></h5>
} else { 
<div class="right_col" role="main">
    <div class="EditCategory">
        <div class="page-title">
            <div class="title_left">
                <h4>QUẢN LÝ KHÁCH HÀNG</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thêm Khách Hàng</h2>
                        <div class="clearfix"></div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Tên</label>
                                <input type="text" class="form-control" name="nameCustomer" required="" placeholder="Nhập tên khách hàng">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">SĐT</label>
                                <input type="tel" class="form-control" name="phoneCustomer" required="" placeholder="Nhập sđt">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Tỉnh/ Thành Phố</label>
                                @* <input type="tel" class="form-control" name="phoneSupplier" required="" placeholder="Nhập SĐT NCC"> *@
                                <select class="form-control m-bot15" name="idShip">
                                    <option value="">--Chọn tỉnh/ thành phố--</option>
                                    @foreach (var item in ViewBag.shipping)
                                    {
                                        <option value="@item.idShip">@item.country</option>
                                    }
                                </select>
                                <div class="text-danger">@TempData["ErrorShip"]</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Địa chỉ</label>
                                <input type="tel" class="form-control" name="addressCustomer" required="" placeholder="Nhập địa chỉ khách hàng">
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Email</label>
                                <input type="email" class="form-control" id="email-customer" onkeyup="ValidateEmailCustomer()" name="email" required="" placeholder="Nhập email"> 
                                <div class="errorEmail" class = "text-danger"></div>
                                <div class="successEmail" class = "text-success"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Mật khẩu</label>
                                <input type="text" class="form-control" name="password" minlength= "4"required="" placeholder="Nhập mật khẩu"> 
                               
                            </div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <a href="../../Admin/CustomerManagement" name="submit-cancel" class="btn btn-danger">Hủy</a>
                            <input type="submit" name="submit-save" class="btn btn-success" value="Lưu" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}
<script type="text/javascript">
    function ValidateEmailCustomer() {
        var email1 = $("#email-customer").val();
        $.ajax({
            method:"POST",
            url:"/Home/ValidateEmailId/",
            data: {email:email1}
        }).done(function(msg) {
            if(msg == 1) {
                $(".successEmail").html("");
                $(".errorEmail").html("Error: Email đã tồn tại");
            } else {
                $(".errorEmail").html("");
                $(".successEmail").html("Email hợp lệ");
            }
        })
    }
</script>