@model IEnumerable<frame.Models.Author>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h4>AUTHOR MANAGEMENT</h4>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                       <input type="text" name="search" id="searchAuthor"class="form-control" value="@ViewBag.search" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>AUTHOR</h2>
                        <div class="clearfix"></div>
                    </div>
                        <p>
                            @Html.ActionLink("Create New", "CreateAuthor")
                        </p>
                        @if(TempData["StatusUpdate"] != null) {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss = "alert">&times;</button>
                            @TempData["StatusUpdate"]
                        </div>
                        }
                        @if(TempData["StatusCreate"] != null) {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss = "alert">&times;</button>
                            @TempData["StatusCreate"]
                        </div>
                        }
                        @if(TempData["StatusDelete"] != null) {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss = "alert">&times;</button>
                            @TempData["StatusDelete"]
                        </div>
                        }
                        <div class="x_content">
                            <table class= "table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name Author</th>
                                        <th>Image</th>
                                        <th>Describe</th>
                                        <th>Manipulation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.idAuthor
                                        </td>
                                        <td>
                                            @item.nameAuthor
                                        </td>
                                        <td>
                                            <img src="../../images/@item.imgAuthor" src="@item.nameAuthor" width="78"
                                            height="92">
                                        </td>
                                        <td>
                                            <p class = "content_DesAuthor">
                                                @item.describeAuthor
                                            </p>		
                                        </td>
                                            
                                        <td class="actionAdmin" style="width: 100px;">
                                            <a href="/Admin/DeleteAuthor/@item.idAuthor" class="btnSubmit">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            |
                                            <a href="../../Admin/EditAuthor/@item.idAuthor">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</div>
<script>
	$('.btnSubmit').click(function() {
		var x = confirm("Are you sure you want to delete?");
		if(x) return true;
		else return false;
	});
</script>