@model IEnumerable<frame.Models.Book>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
    var categories = ViewBag.categories;
    var  authors = ViewBag.authors ;
    var discounts = ViewBag.discounts;
}
    <!-- /top navigation -->
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h4>BOOKS MANAGEMENT</h4>
                </div>
                <div class="title_right">
                    <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="display: block;">
                <div class="col-md-6 col-sm-6  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> BOOKS <small>Book Management Tables</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </div>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class ="Create">
                            <button name="button_Create" type="button">Create</button>
                        </div>
                        
                        <div class="x_content">
                            <table class= "table">
	<tr>
		<th>
			ID
		</th>
		<th>
			Name 
		</th>
        <th>
			Image
		</th>
        <th>
			Describe
		</th>
        <th>
			Summary
		</th>
        <th>
			Price
		</th>
        <th>
			Category
		</th>
        <th>
			Amount
		</th>
        <th>
			Publishing Year
		</th>
        <th>
			PageCount
		</th>
        <th>
			Publisher
		</th>
        <th>
			Author
		</th>
        <th>
			Discount
		</th>
        <th>
			Image Back Book
		</th>
		<th></th>
	</tr>

@foreach (var item in Model)
{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.idBook)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.nameBook)
		</td>
        <td>
            <img src="../../images/@item.imgBook" src="@item.nameBook" width="64"
            height="92">
		</td>
        <td>
            <p class = "content_DesBook">
                @Html.DisplayFor(modelItem => item.desBook)
            </p>		
		</td>
        <td>
            <p class ="content_SumBook">
                @Html.DisplayFor(modelItem => item.summaryBook)
            </p>			
		</td>
        <td>
			@Html.DisplayFor(modelItem => item.priceBook)
		</td>
        <td>
            @foreach(var c in categories) {
                if(c.idCategory == item.idCategory) {
                    @c.nameCategory;
                }
            }
		</td>
        <td>
			@Html.DisplayFor(modelItem => item.amountBook)
		</td>
        <td>
			@Html.DisplayFor(modelItem => item.publishingYear)
		</td>
        <td>
			@Html.DisplayFor(modelItem => item.pageCount)
		</td>
        <td>
			@Html.DisplayFor(modelItem => item.publisherBook)
		</td>
        <td>
			@foreach(var a in authors) {
                if(a.idAuthor == item.idAuthor) {
                    @a.nameAuthor;
                }
            }
		</td>
        <td>
            @foreach(var d in discounts) {
                if(d.idDiscount == item.idDiscount) {
                    @d.nameDiscount;
                }
            }
        </td>
            
        <td>
            <img src="../../images/@item.imgBackBook" src="@item.nameBook" width="64"
            height="92">
		</td>
			
		<td>
			@Html.ActionLink("Edit", "Edit", new {idBook=item.idBook}) |
			@Html.ActionLink("Details", "Details", new {idBook=item.idBook}) |
			@Html.ActionLink("Delete", "Delete", new { idBook = item.idBook}) |
		</td>
	</tr>
}
</table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
    <!-- footer content -->
