@model IEnumerable<frame.Models.Book>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
    var categories = ViewBag.categories;
    var  authors = ViewBag.authors ;
    var discounts = ViewBag.discounts;
    var books = ViewBag.books;
}

@{
    var sessionName = new Byte[20];
    bool ok = Context.Session.TryGetValue("login", out sessionName);
    string result = "";
    User users = null;
    if (ok)
    {
        result = System.Text.Encoding.UTF8.GetString(sessionName);
        users = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(result);
    }
}
@if(users == null) {
    <h5 class="text-danger mt-5 d-flex justify-content-center">Bạn không có quyền vào trang này. Vui lòng <a class="text-light ml-1"href="../../Admin/AccountAdmin"> đăng nhập</a></h5>
} else {  
@* <!-- /top navigation --> *@
@* <!-- page content --> *@
<div class="right_col" role="main">
    <div class="book-manage">
        <div class="page-title">
            <div class="title_left">
                <h4>QUẢN LÝ SÁCH</h4>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" id = "searchBook" placeholder="Nhập tên sách...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex;">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Sách</h2>
                        <div class="clearfix"></div>
                    </div>
                    <p>
                        <span>
                            @Html.ActionLink("Tạo Sách", "CreateBook")
                        </span>|
                        <span>
                            @Html.ActionLink("Tạo Sách Khuyến Mãi", "CreateDiscountBook")
                        </span>
                    </p>
                    @if(TempData["StatusUpdate"] != null) {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        @TempData["StatusUpdate"]
                    </div>
                    }
                    @if(TempData["StatusCreate"] != null) {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        @TempData["StatusCreate"]
                    </div>
                    }
                    @if(TempData["StatusDelete"] != null) {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        @TempData["StatusDelete"]
                    </div>
                    }
                    @if(TempData["StatusUpdateDiscount"] != null) {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss = "alert">&times;</button>
                            @TempData["StatusUpdateDiscount"] 
                        </div>
                    }
                    <div class="x_content">
                        <table class= "table">
                            <thead>
                                <tr>
                                    <th>
                                        Mã sách
                                    </th>
                                    <th>
                                        Tên
                                    </th>
                                    <th>
                                        Hình mặt trước
                                    </th>
                                    <th>
                                        Mô tả
                                    </th>
                                    <th>
                                        Tóm tắt
                                    </th>
                                    <th>
                                        Giá
                                    </th>
                                    <th>
                                        Thể loại
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                        Năm sản xuất
                                    </th>
                                    <th>
                                        Số trang
                                    </th>
                                    <th>
                                        Nhà xuất bản
                                    </th>
                                    <th>
                                        Tác giả
                                    </th>
                                    <th>
                                        Khuyến mãi
                                    </th>
                                    <th>
                                        Mặt sau
                                    </th>
                                    <th style="padding: 0.75rem 1.4rem;">
                                        Hành động
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in books)
                            {
                            <tr>
                                <td>
                                    @item.idBook
                                </td>
                                <td>
                                    @item.nameBook
                                </td>
                                <td>
                                    <img src="../../images/@item.imgBook" src="@item.nameBook" width="64"
                                    height="92">
                                </td>
                                <td>
                                    <p class = "content_DesBook">
                                        @item.desBook
                                    </p>		
                                </td>
                                <td>
                                    <p class ="content_SumBook">
                                        @item.summaryBook
                                    </p>			
                                </td>
                                <td>
                                    @item.priceBook
                                </td>
                                <td>
                                    @foreach(var c in categories) {
                                        if(c.idCategory == item.idCategory) {
                                            @c.nameCategory;
                                        }
                                    }
                                </td>
                                <td>
                                    @item.amountBook
                                </td>
                                <td>
                                    @item.publishingYear
                                </td>
                                <td>
                                    @item.pageCount
                                </td>
                                <td>
                                    @item.publisherBook
                                </td>
                                <td>
                                    @foreach(var a in authors) {
                                        if(a.idAuthor == item.idAuthor) {
                                            @a.nameAuthor;
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach(var d in discounts) {
                                        if(d.idDiscount == item.idDiscount) {
                                            @d.nameDiscount;
                                        }
                                    }
                                </td>
                                    
                                <td>
                                    <img src="../../images/@item.imgBackBook" src="@item.nameBook" width="64"
                                    height="92">
                                </td>
                                    
                                <td class="actionAdmin" style="width: 100px;">
                                    <a href="/Admin/DeleteBook/@item.idBook" class="btnSubmit">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    |
                                    <a href="/Admin/EditBook/@item.idBook">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

<script>
	$('.btnSubmit').click(function() {
		var x = confirm("Bạn thật sự muốn xóa sách?");
		if(x) return true;
		else return false;
	});
</script>