@{
    ViewBag.Title = "Create Book";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}
@{
    var sessionName = new Byte[20];
    bool ok = Context.Session.TryGetValue("login", out sessionName);
    string result = "";
    User users = null;
    if (ok)
    {
        result = System.Text.Encoding.UTF8.GetString(sessionName);
        users = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(result);
    }
}
@if(users == null) {
    <h5 class="text-danger mt-5 d-flex justify-content-center">Bạn không có quyền vào trang này. Vui lòng <a class="text-light ml-1"href="../../Admin/AccountAdmin"> đăng nhập</a></h5>
} else {  
<div class="right_col" role="main">
    <div class="EditCategory">
        <div class="page-title">
            <div class="title_left">
                <h4>QUẢN LÝ SÁCH</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thêm Sách</h2>
                        <div class="clearfix"></div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row"> 
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold">Mã sách</label>
                                <input type="text" class="form-control" value="@ViewBag.id" disabled>
                                <input type="hidden" value="@ViewBag.id" name="idBook"/>
                            </div> 
                            <div class="form-group col-md-5">
                                <div class="form-group col-md-5">
                                    <label class="font-weight-bold">Mặt trước</label>
                                    <input type="file" style = "width:117px"class="form-control hinhanhsach border-0" required=""name="imgBook" id="imageTruoc">
                                </div>
                                <div class="form-group col-md-6">
                                    <img src="" id = "show-mattruoc" width="auto"
                                    height="90px">
                                </div>
                            </div>
                            <div class="form-group col-md-5">
                                <div class="form-group col-md-5">
                                    <label class="font-weight-bold">Mặt sau</label>
                                    <input type="file" style = "width:117px" class="form-control hinhanhsach border-0" required=""name="imgBackBook" id="imageSau">
                                </div>
                                <div class="form-group col-md-6">
                                    <img src="" id = "show-sau" width="auto"
                                    height="90px">
                                </div>
                            </div>
                        </div>  
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="font-weight-bold">Tên sách</label>
                                <input type="text" class="form-control"required="" name="nameBook" placeholder="Nhập tên sách">
                            </div>   
                            <div class="form-group col-md-4">
                                <label class="font-weight-bold">Giá</label>
                                <input type="number"pattern="[+][0-9]" min='1'class="form-control"required="" name="priceBook" value="0" disabled>
                            </div>   
                            <div class="form-group col-md-4">
                                <label class="font-weight-bold">Số lượng</label>
                                <input type="number"pattern="[+][0-9]" class="form-control"required="" name="amountBook" value="0" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Thể loại</label>
                                <select class="form-control m-bot15" name="idCategory">
                                    <option value="">--Chọn thể loại--</option>
                                    @foreach (var item in ViewBag.categories)
                                    {
                                        <option value="@item.idCategory">@item.nameCategory</option>
                                    }
                                </select>
                                <div class="text-danger">@TempData["ErrorCategory"]</div>
                            </div>   
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Tác giả</label>
                                <select class="form-control m-bot15" name="idAuthor">
                                    <option value="">--Chọn tác giả--</option>
                                    @foreach (var item in ViewBag.authors)
                                    {
                                        <option value="@item.idAuthor">@item.nameAuthor</option>
                                    }
                                </select>
                                <div class="text-danger">@TempData["ErrorAuthor"]</div>
                            </div>   
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label font-weight-bold des">Mô tả</label>
                                        <textarea class="form-control des" required=""rows="3" name="desBook" style="width:100%"></textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-form-label font-weight-bold des">Tóm tắt</label>
                                        <textarea class="form-control des" required=""rows="3" name="summaryBook" style="width:100%"></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-bold">Năm sản xuất</label>
                                        <input type="number"pattern="[+][0-9]" min='1' class="form-control"required="" name="publishingYear" placeholder="Nhập năm sản xuất">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-bold">Số trang</label>
                                        <input type="number"pattern="[+][0-9]" min='1'class="form-control"required="" name="pageCount" placeholder="Nhập số trang">
                                    </div> 
                                    <div class="form-group col-md-4">
                                        <label class="font-weight-bold">Nhà sản xuất</label>
                                        <input type="text" class="form-control"required="" name="publisherBook" placeholder="Nhập nhà sản xuất">
                                    </div>  
                                </div>
                            </div>
                            <div class="form-group col-md-4 mt-5 pl-5">
                                <a href="../../Admin/BookManagement" name="submit-cancel" class="btn btn-danger">Hủy</a>
                                <input type="submit" name="submit-save" class="btn btn-success" value="Lưu" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}
<script type="text/javascript">
    function readURLTruoc(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();

            reader.onload = function(e){
                $('#show-mattruoc').attr('src',e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#imageTruoc').change(function(){
        readURLTruoc(this);
    });
    function readURLSau(input){
        if(input.files && input.files[0]){
            var reader = new FileReader();

            reader.onload = function(e){
                $('#show-sau').attr('src',e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#imageSau').change(function(){
        readURLSau(this);
    });
</script>