@{
    ViewBag.Title = "Add Customer";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}
@{
    var sessionName = new Byte[20];
    bool ok = Context.Session.TryGetValue("login", out sessionName);
    string result = "";
    User users = null;
    if (ok)
    {
        result = System.Text.Encoding.UTF8.GetString(sessionName);
        users = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(result);
    }
}
@if(users == null) {
    <h5 class="text-danger mt-5 d-flex justify-content-center">Bạn không có quyền vào trang này. Vui lòng <a class="text-light ml-1"href="../../Admin/AccountAdmin"> đăng nhập</a></h5>
} else {  
<div class="right_col" role="main">
    <div class="EditCategory">
        <div class="page-title">
            <div class="title_left">
                <h4>QUẢN LÝ PHIẾU NHẬP</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thêm Phiếu Nhập</h2>
                        <div class="clearfix"></div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label class="font-weight-bold">Mã</label>
                                <input type="text" class="form-control" value="@ViewBag.id" disabled>
                                <input type="hidden" value="@ViewBag.id" name="idEntry"/>
                            </div> 
                            <div class="form-group col-md-5">
                                <label class="font-weight-bold">Tên NCC</label>
                                <select class="form-control m-bot15" name="idSupplier">
                                    <option value="">--Chọn NCC--</option>
                                    @foreach(var item in ViewBag.suppliers) {
                                        <option value="@item.idSupplier">@item.nameSupplier</option>
                                    }
                                </select>
                                <div class="text-danger">@TempData["errorSupplier"]</div>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="font-weight-bold">Ngày lập</label>
                                <input type="date" class="form-control" name="dateEntry" required>
                                <div class="text-danger">@TempData["errorDate"]</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label class="font-weight-bold">Tên sách</label>
                                        <select class="form-control m-bot15 optionBook">
                                            <option value="">--Chọn sách--</option>
                                            @foreach(var item in ViewBag.books) {
                                                <option value="@item.idBook">@item.nameBook</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-bold">Số lượng</label>
                                        <input type="number" class="form-control quantity" placeholder="Nhập số lượng">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="font-weight-bold">Giá</label>
                                        <input type="number" class="form-control priceBook" placeholder="Nhập giá">
                                    </div>
                                </div>
                                <br>
                                <div class="modal-footer">
                                    <a href="../../Admin/EntryManagement" name="submit-cancel" class="btn btn-danger">Hủy</a>
                                    <input type="submit" name="submit-save" class="btn btn-success" value="Lưu" />
                                </div>
                            </div>
                            <div class="form-group col-md-2 text-center">
                                <a class="btn bg-success mt-5 text-light btnAddEntry" style="cursor: pointer;">Thêm sách</a>
                            </div>
                            <div class="form-group col-md-6" style="height:240px;overflow-y:auto">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Tên sách</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="text-danger">@TempData["errordetail"]</div>
                            </div> 
                        </div> 
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}
