@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
    var discount = ViewBag.discount;
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h4>DISCOUNT MANAGEMENT</h4>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchDiscount" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex;">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Discount</h2>
                        <div class="clearfix"></div>
                    </div>
                     <p>
                        @Html.ActionLink("Create New", "AddDiscount")
                    </p>
                    @if(TempData["StatusUpdate"] != null) {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        @TempData["StatusUpdate"]
                    </div>
                    }
                    @if(TempData["StatusCreate"] != null) {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        @TempData["StatusCreate"]
                    </div>
                    }
                    @if(TempData["StatusDelete"] != null) {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        @TempData["StatusDelete"]
                    </div>
                    }
                    <div class="x_content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Date Start</th>
                                    <th>Date End</th>
                                    <th>Number(%)</th>
                                    <th>Manipulation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var d in discount)
                                {
                                    <tr>
                                        <th scope="row">@d.idDiscount</th>
                                        <td>@d.nameDiscount</td>
                                        <td>@d.quantityDis</td>
                                        <td>@d.dateStart.ToString("dd-MM-yyyy")</td>
                                        <td>@d.dateEnd.ToString("dd-MM-yyyy")</td>
                                        <td>@d.numberDiscount</td>
                                        <td class="actionAdmin">
                                            <a href="/Admin/DiscountDelete/@d.idDiscount" class="btnSubmit">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            |
                                            <a href="/Admin/UpdateDiscount/@d.idDiscount">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr> 
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	$('.btnSubmit').click(function() {
		var x = confirm("Are you sure you want to delete?");
		if(x) return true;
		else return false;
	});
</script>