@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
    float tt = 0;
}
@{
    var sessionName = new Byte[20];
    bool ok = Context.Session.TryGetValue("login", out sessionName);
    string result = "";
    User users = null;
    if (ok)
    {
        result = System.Text.Encoding.UTF8.GetString(sessionName);
        users = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(result);
    }
}
@if(users == null) {
    <h5 class="text-danger mt-5 d-flex justify-content-center">Bạn không có quyền vào trang này. Vui lòng <a class="text-light ml-1"href="../../Admin/AccountAdmin"> đăng nhập</a></h5>
} else {  
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h4>QUẢN LÝ PHIẾU NHẬP</h4>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex;">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Phiếu Nhập</h2>
                        <div class="clearfix"></div>
                    </div>
                    <p>
                        @Html.ActionLink("Tạo Mới", "CreateEntry")
                    </p>
                    @if(TempData["StatusUpdate"] != null) {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        @TempData["StatusUpdate"]
                    </div>
                    }
                    @if(TempData["StatusCreate"] != null) {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        @TempData["StatusCreate"]
                    </div>
                    }
                    @if(TempData["StatusDelete"] != null) {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        @TempData["StatusDelete"]
                    </div>
                    }
                    <div class="x_content">
                        <table class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th data-breakpoints="xs" scope="col">Số PN</th>
                                    <th>Tên NCC</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày lập</th>
                                    <th>Chi tiết SP</th>
                                    <th>Tổng tiền</th>
                                    <th>Trạng thái</th>
                                    <th scope="col" style="width:120px">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.entry)
                                {
                                    <tr>
                                        <td scope="row">@item.idEntry</td>
                                        
                                        @foreach (var s in ViewBag.supplier)
                                        {
                                            if(s.idSupplier == item.idSupplier) {
                                                <td><span class="text-ellipsis">@s.nameSupplier</span></td>
                                                <td><span class="text-ellipsis">@s.addressSupplier</span></td>
                                            }
                                        }
                                        <td><span class="text-ellipsis">@item.dateEntry.ToString("dd/MM/yyyy")</span></td>
                                        <td>
                                            <table width="auto" border="0">
                                                <tr>
                                                    <td>Tên sách</td>
                                                    <td>Số lượng</td>
                                                    <td>Giá</td>
                                                </tr>
                                                @foreach (var d in ViewBag.detail)
                                                {
                                                    if(d.idEntry == item.idEntry) {
                                                    <tr>
                                                        <td>
                                                            @foreach (var b in ViewBag.books)
                                                            {
                                                                if(b.idBook == d.idBook) {
                                                                    @b.nameBook
                                                                }
                                                            }
                                                        </td>
                                                        <td>@d.quantityEntry</td>
                                                        <td>
                                                            <span>@d.priceEntry$</span>
                                                        </td>
                                                    </tr>
                                                    tt += d.quantityEntry*d.priceEntry;
                                                    }
                                                }
                                                
                                            </table>
                                        </td>
                                        <td>@tt$</td>
                                        <td>@item.status</td>
                                        @if(item.status == "Đã giao hàng") {
                                        <td><a class="btn float-right InvoiceEntrydis" disabled>Hóa Đơn</a></td>
                                        } else {
                                        <td>
                                            <a class="btn float-right InvoiceEntry" data-id="@item.idEntry">Hóa Đơn</a>
                                            <p class="actionAdmin">
                                                <a href="/Admin/DeleteEntry/@item.idEntry" class="btnSubmit">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                                |
                                                <a href="/Admin/EditEntry/@item.idEntry">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </p>
                                        </td>
                                        }   
                                    </tr>    
                                    tt = 0; 
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<script>
	$('.btnSubmit').click(function() {
		var x = confirm("Bạn thật sự muốn xóa phiếu nhập?");
		if(x) return true;
		else return false;
	});
</script>