@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
    double tongtien = 0;
}
@{
    var sessionName = new Byte[20];
    bool ok = Context.Session.TryGetValue("login", out sessionName);
    string result = "";
    User users = null;
    if (ok)
    {
        result = System.Text.Encoding.UTF8.GetString(sessionName);
        users = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(result);
    }
}
@if(users == null) {
    <h5 class="text-danger mt-5 d-flex justify-content-center">Bạn không có quyền vào trang này. Vui lòng <a class="text-light ml-1"href="../../Admin/AccountAdmin"> đăng nhập</a></h5>
} else {  
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h4>QUẢN LÝ HÓA ĐƠN</h4>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <select style="
                                font-size: 21px;
                                font-family: roboto;
                                background: aliceblue;
                                border-radius: 5px;padding: 0 10px;
                            " id="statusOrder">
                            <option>--Chọn trạng thái giao hàng--</option>
                            @foreach (var item in ViewBag.statusOrder)
                            {
                            <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex;">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Hóa Đơn</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th data-breakpoints="xs" scope="col">SHD</th>
                                    <th>Tên khách hàng</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Địa chỉ</th>
                                    <th>Chi tiết SP</th>
                                    <th>Phí ship</th>
                                    <th>Tổng tiền</th>
                                    <th>Trạng thái</th>
                                    <th scope="col" style="width:120px">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.orders)
                                {
                                <tr>
                                    <td scope="row">@item.idOrder</td>
                                    <td><span class="text-ellipsis">
                                        @foreach (var cus in ViewBag.customers)
                                        {
                                            if(cus.idCustomer == item.idCustomer) {
                                                @cus.nameCustomer
                                            }
                                        }
                                    </span></td>
                                    <td><span class="text-ellipsis">@item.dateOrder.ToString("dd/MM/yyyy")</span></td>
                                    <td><span class="text-ellipsis">
                                        @foreach (var cus in ViewBag.customers)
                                        {
                                            if(cus.idCustomer == item.idCustomer) {
                                                @cus.addressCustomer<span> - </span>
                                                foreach (var s in ViewBag.shippings)
                                                {
                                                    if(s.idShip == cus.idShip) {
                                                        @s.country
                                                    }
                                                }
                                            }
                                        }
                                    </span></td>
                                    <td>
                                        <table width="auto" border="0">
                                            <tr>
                                                <td>Tên sách</td>
                                                <td>Số lượng</td>
                                                <td>Giá</td>
                                            </tr>
                                            @foreach (var od in ViewBag.orderdetails)
                                            {
                                                if(od.idOrder == item.idOrder) {
                                                    <tr>
                                                        <td>
                                                            @foreach (var b in ViewBag.books)
                                                            {
                                                                if(b.idBook==od.idBook) {
                                                                    @b.nameBook
                                                                }
                                                            }
                                                        </td>
                                                        <td>@od.quantityBook</td>
                                                        <td>$@od.priceOrder</td>
                                                        @{tongtien += od.priceOrder * od.quantityBook;}
                                                    </tr>
                                                }
                                            }
                                            
                                        </table>
                                    </td>
                                    <td>
                                        @foreach (var cus in ViewBag.customers)
                                        {
                                            if(cus.idCustomer == item.idCustomer) {
                                                foreach (var s in ViewBag.shippings)
                                                {
                                                    if(s.idShip == cus.idShip) {
                                                       <span>@s.charge$</span> 
                                                       tongtien += s.charge;
                                                    }
                                                }
                                            }
                                        }
                                    </td>
                                    <td>@tongtien$</td>
                                    <td>@item.status</td>
                                    @* //disabled="true" *@
                                    @if(item.status == "Đang giao hàng" || item.status == "Đã hủy đơn") {
                                        <td><a class="btn float-right Invoicedis" disabled>Hóa Đơn</a></td>
                                    } else {
                                        <td><a class="btn float-right Invoice" data-id="@item.idOrder">Hóa Đơn</a></td>
                                    }
                                </tr> 
                                tongtien=0;
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
