@{
    ViewBag.Title = "Add Customer";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
    var Customer = ViewBag.customer;
}
<div class="right_col" role="main">
    <div class="EditCategory">
        <div class="page-title">
            <div class="title_left">
                <h4>CUSTOMER MANAGEMENT</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edit Customer</h2>
                        <div class="clearfix"></div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row"> 
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">ID</label>
                                <input type="text" class="form-control" value="@Customer.idCustomer" disabled>
                                <input type="hidden" value="@Customer.idCustomer" name="idCustomer" />
                            </div> 
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Name</label>
                                <input type="text" class="form-control"pattern="^[A-Za-z0-9-\s]*" title="Name should without accents" value="@Customer.nameCustomer" name="nameCustomer" required="" placeholder="Nhập tên khách hàng">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Phone</label>
                                <input type="text" class="form-control" value="@Customer.phoneCustomer" name="phoneCustomer" required="" placeholder="Nhập sdt">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Province/ City</label>
                                @* <input type="tel" class="form-control" name="phoneSupplier" required="" placeholder="Nhập SĐT NCC"> *@
                                <select class="form-control m-bot15" name="idShip">
                                    @foreach (var item in ViewBag.shipping)
                                    {
                                        @if(Customer.idShip == item.idShip) {
                                            <option value="@item.idShip">@item.country</option>
                                        }
                                        else {
                                            <option value="@item.idShip">@item.country</option>
                                        }
                                        
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Address</label>
                                <input type="text" class="form-control"value="@Customer.addressCustomer" pattern="^[A-Za-z0-9-\s]*" title="Address should without accents"name="addressCustomer" required="" placeholder="Nhập địa chỉ">
                                
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Email</label>
                                @foreach (var item in ViewBag.user)
                                {
                                    if(item.idUser == Customer.idUser) {
                                        <input type="hidden" value ="@item.idUser"class="form-control" name="idUser" required="" placeholder="Nhập SĐT NCC">
                                        <input type="email" value ="@item.email"class="form-control" name="email" required="" placeholder="Nhập SĐT NCC">
                                    }
                                }
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Password</label>
                                @foreach (var item in ViewBag.user)
                                {
                                    if(item.idUser == Customer.idUser) {
                                        <input type="text" value ="@item.password"class="form-control" name="password" required="" placeholder="Nhập SĐT NCC">
                                    }
                                }
                            </div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <a href="../../Admin/CustomerManagement" name="submit-cancel" class="btn btn-danger">Cancel</a>
                            <input type="submit" name="submit-save" class="btn btn-success" value="Save" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
