@{
    ViewBag.Title = "Add Customer";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
    var discount = ViewBag.discount;
}
@{
    var sessionName = new Byte[20];
    bool ok = Context.Session.TryGetValue("login", out sessionName);
    string result = "";
    User users = null;
    if (ok)
    {
        result = System.Text.Encoding.UTF8.GetString(sessionName);
        users = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(result);
    }
}
@if(users == null) {
    <h5 class="text-danger mt-5 d-flex justify-content-center">Bạn không có quyền vào trang này. Vui lòng <a class="text-light ml-1"href="../../Admin/AccountAdmin"> đăng nhập</a></h5>
} else {  
<div class="right_col" role="main">
    <div class="EditCategory">
        <div class="page-title">
            <div class="title_left">
                <h4>QUẢN LÝ KHUYẾN MÃI</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: flex">
            <div class="col-md-6 col-sm-6  " style="height:100vh">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Sửa Khuyến Mãi</h2>
                        <div class="clearfix"></div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row"> 
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Mã</label>
                                <input type="text" class="form-control" value="@discount.idDiscount" disabled>
                                <input type="hidden" value="@discount.idDiscount" name="idDiscount" />
                            </div> 
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Số(%)</label>
                                <input type="number"pattern="[+][0-9]"  class="form-control"value="@discount.numberDiscount"  name="numberDiscount" required="" placeholder="Nhập số khuyến mãi">

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Tên</label>
                                <input type="text" class="form-control" value="@discount.nameDiscount" name="nameDiscount" required="" placeholder="Nhập tên chương trình khuyến mãi">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Số lượng</label>
                                <input type="number" pattern="[+][0-9]" class="form-control" value="@discount.quantityDis" name="quantityDis" required="" placeholder="Nhập số lượng khuyến mãi">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Ngày bắt đầu</label>
                                <input type="date" class="form-control" value='@discount.dateStart.ToString("yyyy-MM-dd")' name="dateStart" required="" placeholder="Nhập ngày bắt đầu">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Ngày kết thúc</label>
                                <input type="date" class="form-control" value='@discount.dateEnd.ToString("yyyy-MM-dd")' name="dateEnd" required="" placeholder="Nhập ngày kết thúc">
                                <div class="text-danger">@TempData["errorDateEnd"]</div>
                            </div>
                        </div>
                    
                        <br>
                        <div class="modal-footer">
                            <a href="/Admin/DiscountManagement" name="submit-cancel" class="btn btn-danger">Hủy</a>
                            <input type="submit" name="submit-save" class="btn btn-success" value="Lưu" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}

