@{
    ViewData["Title"] = "Check out";
    Layout = "~/Views/Shared/_Layout.cshtml";
	var Email = ViewBag.Email;
	var InfoCus = ViewBag.InfoCus;
	var Shipping = ViewBag.Shipping;
}

<div class="page-content-checkout">
	<div class="container">
		<div class="content-checkout">
			<div class="row justify-content-center">
				<div class="col-sm-6">
					<h4>Thông Tin Sản Phẩm</h4>
					<div class="row">
						<div class="col-sm-12">
							<table class="table">
								<thead>
									<tr>
										<th>Tên sách</th>
										<th class="text-center">Số lượng</th>
										<th class="text-center">Giá</th>
										<th class="text-center">Tổng</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h4>Thông tin khách hàng</h4>
				<form action="/Home/CheckOut" method="POST" id="formcheckout">
						@Html.AntiForgeryToken()
					<div class="modal-body">
						<div class="form-group">
							<label>Họ và tên</label>
							<input type="text" class="form-control" placeholder="Truong Thi Hoai Anh" required="" name="nameCustomer" value="@InfoCus.nameCustomer">
						</div>
						<div class="form-group">
							<label>SĐT</label>
							<input type="tel" class="form-control" placeholder="036206111" required="" name="phoneCustomer" value="@InfoCus.phoneCustomer">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" placeholder="a@gmail.com"name="customer_email" value="@Email" disabled>
						</div>
						<div class="form-row">
							<div class="form-group col-md-7">
								<label >Địa Chỉ</label>
								<input type="text" class="form-control" placeholder="21 Nam Thanh-Nam Da- Krong No" required="" name="addressCustomer" placeholder="Địa chỉ nhận hàng" value="@InfoCus.addressCustomer">
							</div>
							<div class="form-group col-md-5">
								<label >Tỉnh/ Thành Phố</label>
								<div>
									<select name= "idShip" id = "province"class="input-sm form-control w-sm inline v-middle">
										@foreach (var item in Shipping)
										{
											if(@item.idShip == @InfoCus.idShip) {
												<option value="@item.charge" class="d-none"></option>
												<option value="@item.idShip" selected>@item.country</option>
												foreach(var s in Shipping) {
													if(s.idShip != InfoCus.idShip) {
														<option value="@s.idShip">@s.country</option>
													}
												}
											}
										}
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="hidden" class="form-control" required="" name="idCustomer" value="@InfoCus.idCustomer">
							<input type="submit" value="Hủy" class="submit-login btn btn-danger" name="submit">
							<input type="submit" value="Đặt hàng" class="submit-order btn btn-success" name="submit">
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>