@model IEnumerable<frame.Models.DetailBook>
@{
    ViewData["Title"] = "Detail Prod";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var DetailBook = ViewBag.DetailBook;
    var DetailBookNotDis = ViewBag.DetailBookNotDis;
    var ProRelDis = ViewBag.ProRelDis;
    var ProRel = ViewBag.ProRel;
}

<div class="content clearfix">
    <div class="page-header page-header-product">
        <div class="container">
            <h1>Cửa Hàng</h1>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Home">Trang Chủ</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Sản Phẩm</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-content page-content-product">
        @foreach (var item in DetailBook) {
        <div class="product-overview">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="book-~/">
                            <div class="content-book">
                                <img src="~/images/@item.imgBook">
                                <div class="book-page book-page-front">
                                    <img src="~/images/@item.imgBook">
                                </div>
                                <div class="book-page book-page-back">
                                    <img src="~/images/@item.imgBackBook">
                                </div>
                                <div class="book-page book-page-first">
                                    
                                </div>
                                <div class="book-page book-page-second">
                                    
                                </div>
                                <div class="book-page book-page-side">
                                    
                                </div>
                                <div class="book-page book-page-side-paper">
                                    
                                </div>
                            </div>
                            <div class="book-action">
                                <button class="see-back">
                                    <i class="fas fa-undo"></i>
                                    <span>Mặt sau</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 product-overview-summary">
                        <div>
                            <h2>@item.nameBook</h2>
                            <span>-@item.numberDis%</span>
                        </div>
                        <div class="product-meta">
                            <span>@item.nameAuthor</span>
                            <div class="rating-product">
                                <div class="start-rating">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <span>(1 đánh giá của khách hàng)
                                </span>
                            </div>
                        </div>
                        <div class="product-price">
                            <span>$@item.priceBook</span>
                            <span>$@(item.priceBook - (item.priceBook*item.numberDis)/100)</span>
                        </div>
                        <div class="product-excerpt">
                            <p>
                                @item.summaryBook
                            </p>
                        </div>
                        <div class="product-action">
                            <div>
                                <div class="quantity-product">
                                    <input type="number" step="1" min="1" value="1">
                                </div>
                                <button type="submit" data-name='@item.nameBook'
                                    class="addcart" data-price = '@item.priceBook' 
                                            data-number = '@item.numberDis'
                                            data-id="@item.idBook"
                                            data-image= '@item.imgBook'>
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                            
                            
                            <div class="product-bookmark">
                                <a href="#">
                                    <i class="far fa-heart"></i>
                                    Thêm vào danh sách yêu thích
                                </a>
                            </div>
                            <div class="product-detail-info">
                                <div class="sku-product">
                                    Mã sản phẩm:
                                    <span>@item.idBook</span>
                                </div>
                                <div class="category-product">
                                    Thể loại:
                                    <a href="#">@item.nameCategory</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail">
            <div class="nav-product-detail">
                <div class="container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#des" data-toggle = "tab" class="nav-link active">Mô Tả</a>
                        </li>
                        <li class="nav-item">
                            <a href="#bookdetail" data-toggle = "tab" class="nav-link">Chi Tiết</a>
                        </li>
                        <li class="nav-item">
                            <a href="#meetauthor" data-toggle = "tab" class="nav-link">Tác giả</a>
                        </li>
                        <li class="nav-item">
                            <a href="#commentCustomer" data-toggle = "tab" class="nav-link">Bình luận</a>
                        </li>   
                    </ul>
                </div>
            </div>
            <div class="content-product-detail">
                <div class="tab-content">
                    <div id="des" class="container tab-pane active">
                        <p>@item.desBook</p>
                    </div>
                    <div id="bookdetail" class="container tab-pane">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Năm xuất bản</th>
                                    <td><p>@item.publishingYear</p></td>
                                </tr>
                                <tr>
                                    <th>Số trang</th>
                                    <td><p>@item.pageCount</p></td>
                                </tr>
                                <tr>
                                    <th>Tác giả</th>
                                    <td><p>@item.nameAuthor</p></td>
                                </tr>
                                <tr>
                                    <th>Nhà xuất bản</th>
                                    <td><p>@item.publisherBook</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="meetauthor" class="container tab-pane">
                        <div class="author-info-wrapper">
                            <div class="author-img">
                                <img src="~/images/@item.imgAuthor">
                            </div>
                            <div class="author-detail">
                                <h3>@item.nameAuthor</h3>
                                <p>@item.describeAuthor</p>
                            </div>
                        </div>
                    </div>
                    <div id="commentCustomer" class="container tab-pane">
                        <div class="row" style="padding: 0px 125px ; margin-bottom:50px;">
                            <textarea rows="2" name="comments" required></textarea>
                            <input type="hidden" name="idBookComments" value="@item.idBook"> 
                            @if(ViewBag.Email == null) {
                                <a href = "~/Home/MyAccount"class="submitComments" onclick="alert('Đăng nhập để bình luận')">Bình Luận</a>
                                
                            } else {
                                <a class="submitComments">Bình Luận</a>
                            }
                        </div>
                        @foreach (var comment in ViewBag.comments)
                        {
                        <div class="row">
                            <div class="col-2">
                                <div class="icon-commentCus mb-2"><i class="far fa-user"></i></div>
                                @foreach (var cus in ViewBag.customer)
                                {
                                    if(comment.id_User == cus.idUser) {
                                        <h5>@cus.nameCustomer</h5>
                                    }
                                }
                                <div>@comment.date_Comment.ToString("dd/MM/yyyy HH:mm")</div>
                            </div>
                            <div class="col-10 text-left">
                                <div>@comment.content</div>
                                <form>
                                    <textarea rows="2"></textarea>
                                    <input type="submit" value="Trả lời">
                                </form>
                            </div>
                        </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div> 
        }
        @foreach (var item in DetailBookNotDis)
        {
        <div class="product-overview">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="book-~/">
                            <div class="content-book">
                                <img src="~/images/@item.imgBook">
                                <div class="book-page book-page-front">
                                    <img src="~/images/@item.imgBook">
                                </div>
                                <div class="book-page book-page-back">
                                    <img src="~/images/@item.imgBackBook">
                                </div>
                                <div class="book-page book-page-first">
                                    
                                </div>
                                <div class="book-page book-page-second">
                                    
                                </div>
                                <div class="book-page book-page-side">
                                    
                                </div>
                                <div class="book-page book-page-side-paper">
                                    
                                </div>
                            </div>
                            <div class="book-action">
                                <button class="see-back">
                                    <i class="fas fa-undo"></i>
                                    <span>Mặt sau</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 product-overview-summary">
                        <div>
                            <h2>@item.nameBook</h2>
                        </div>
                        <div class="product-meta">
                            <span>@item.nameAuthor</span>
                            <div class="rating-product">
                                <div class="start-rating">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <span>(1 đánh giá của khách hàng)
                                </span>
                            </div>
                        </div>
                        <div class="product-price">
                            $@item.priceBook
                        </div>
                        <div class="product-excerpt">
                            <p>
                                @item.summaryBook
                            </p>
                        </div>
                        <div class="product-action">
                            <div>
                                <div class="quantity-product">
                                    <input type="number" step="1" min="1" value="1">
                                </div>
                                <button type="submit" data-name='@item.nameBook'
                                    class="addcart" data-price = '@item.priceBook' 
                                            data-number = '0'
                                            data-id="@item.idBook"
                                            data-image= '@item.imgBook'>
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                            <div class="product-bookmark">
                                <a href="#">
                                    <i class="far fa-heart"></i>
                                    Thêm vào danh sách yêu thích
                                </a>
                            </div>
                            <div class="product-detail-info">
                                <div class="sku-product">
                                    Mã sản phẩm: 
                                    <span>@item.idBook</span>
                                </div>
                                <div class="category-product">
                                    Thể loại:
                                    <a href="#">@item.nameCategory</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail">
            <div class="nav-product-detail">
                <div class="container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#des" data-toggle = "tab" class="nav-link active">Mô Tả</a>
                        </li>
                        <li class="nav-item">
                            <a href="#bookdetail" data-toggle = "tab" class="nav-link">Chi Tiết</a>
                        </li>
                        <li class="nav-item">
                            <a href="#meetauthor" data-toggle = "tab" class="nav-link">Tác Giả</a>
                        </li> 
                        <li class="nav-item">
                            <a href="#commentCustomer" data-toggle = "tab" class="nav-link">Bình luận</a>
                        </li>   
                    </ul>
                </div>
            </div>
            <div class="content-product-detail">
                <div class="tab-content">
                    <div id="des" class="container tab-pane active">
                        <p>@item.desBook</p>
                    </div>
                    <div id="bookdetail" class="container tab-pane">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Năm xuất bản</th>
                                    <td><p>@item.publishingYear</p></td>
                                </tr>
                                <tr>
                                    <th>Số trang</th>
                                    <td><p>@item.pageCount</p></td>
                                </tr>
                                <tr>
                                    <th>Tác giả</th>
                                    <td><p>@item.nameAuthor</p></td>
                                </tr>
                                <tr>
                                    <th>Nhà xuất bản</th>
                                    <td><p>@item.publisherBook</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="meetauthor" class="container tab-pane">
                        <div class="author-info-wrapper">
                            <div class="author-img">
                                <img src="~/images/@item.imgAuthor">
                            </div>
                            <div class="author-detail">
                                <h3>@item.nameAuthor</h3>
                                <p>@item.describeAuthor</p>
                            </div>
                        </div>
                    </div>
                    <div id="commentCustomer" class="container tab-pane">
                        <div class="row" style="padding: 0px 125px ; margin-bottom:50px;">
                            <textarea rows="2" name="comments" required></textarea>
                            <input type="hidden" name="idBookComments" value="@item.idBook"> 
                            @if(ViewBag.Email == null) {
                                <a href = "~/Home/MyAccount"class="submitComments" onclick="alert('Đăng nhập để bình luận')">Bình Luận</a>
                                
                            } else {
                                <a class="submitComments">Bình Luận</a>
                            }
                        </div>
                        @foreach (var comment in ViewBag.comments)
                        {
                        <div class="row">
                            <div class="col-2">
                                <div class="icon-commentCus mb-2"><i class="far fa-user"></i></div>
                                @foreach (var cus in ViewBag.customer)
                                {
                                    if(comment.id_User == cus.idUser) {
                                        <h5>@cus.nameCustomer</h5>
                                    }
                                }
                                <div>@comment.date_Comment.ToString("dd/MM/yyyy HH:mm")</div>
                            </div>
                            <div class="col-10 text-left">
                                <div>@comment.content</div>
                                <div id="@comment.id_Comment">
                                    <div class="row" style="margin:0px">
                                        <textarea rows="2" name="reply_Comments" style="margin-right: 204px;margin-bottom: 15px;"required></textarea>
                                        @if(ViewBag.Email == null) {
                                            <a href = "~/Home/MyAccount"class="submitReplyComment" onclick="alert('Đăng nhập để bình luận')">Trả lời</a>
                                            
                                        } else {
                                            <a class="submitReplyComment" data-idComment="@comment.id_Comment">Trả lời</a>
                                        }
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="icon-commentCus mb-2"><i class="far fa-user"></i></div>
                                            <h5>Ánh</h5>
                                            <div>010101</div>
                                        </div>
                                        <div class="col-10 text-left">
                                            <div>huhuh</div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        
                        }
                        
                    </div>
                </div>
            </div>
        </div> 
        }
        <div class="product-additional">
            <div class="container">
                <section class="related-product">
                    <header class="related-header">
                        <h2>Sản phẩm liên quan</h2>
                    </header>
                    <div class="content-related-product row">
                        @foreach (var item in ProRelDis)
                        {
                        <div class="col-3">
                            <div class="related-inner">
                                <div class="related-img">
                                    <a href="#">
                                        <img src="../../images/@item.imgBook">
                                    </a>
                                </div>
                                <div class="related-detail">
                                    <h3>
                                        <a href="../../Home/DetailProduct/@item.idBook">@item.nameBook</a>
                                    </h3>
                                    <div class="related-price">
                                        <span>$@item.priceBook</span>
                                        <span>$@(item.priceBook - item.priceBook*item.numberDiscount/100)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        @foreach (var item in ProRel)
                        {
                        <div class="col-3">
                            <div class="related-inner">
                                <div class="related-img">
                                    <a href="#">
                                        <img src="../../images/@item.imgBook">
                                    </a>
                                </div>
                                <div class="related-detail">
                                    <h3>
                                        <a href="../../Home/DetailProduct/@item.idBook">@item.nameBook</a>
                                    </h3>
                                    <div class="related-price">
                                        $@item.priceBook
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>