@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var books = ViewBag.Book;
    var BookDis = ViewBag.BookDis;
}
<div class="d-flex flex-wrap">
    <div class="slideshow-background">
        <div id="myCarousel" class="carousel slide custome-carousel" data-ride="carousel">
            <!-- Tạo chỉ số -->
            
            <!-- Tạo slide -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- layer 1 -->
                    <div class="layer-1">
                        <div></div>
                    </div>
                    <div class="layer-2">
                        <div></div>
                    </div>
                    <div class="layer-3">
                        <div></div>
                    </div>
                    <div class="layer-4">
                        CHOOSE YOUR BRAIN FOOD
                    </div>
                    <div class="layer-5">SALE UP TO 70% OFF</div>
                    <div class="layer-6">Business / Health & beauty / History / Novel</div>
                    <div class="layer-7">Shop Now</div>
                </div>
                <div class="carousel-item">
                    <div class="layer2-1">
                        <div></div>
                    </div>
                    <div class="layer2-2">
                        <div></div>
                    </div>
                    <div class="layer2-3">
                        <div></div>
                    </div>
                    <div class="layer2-4">
                        <div></div>
                    </div>
                </div>
            </div>
            <!-- Tạo thanh điều khiển -->
            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                <div>
                    <i class="fas fa-chevron-left"></i>
                </div>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                <div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </a>
        </div>
        <div class="infor-slide">
            <div class="container">
                <div class="infor-slide-wrap row">
                    <div class="col-sm-4">
                        <div class="content-infor-slide d-flex">
                            <div>
                                <i class="fas fa-phone-volume"></i>
                            </div>

                            <div>
                                <h4>24/7 Customer Support</h4>
                                <span>Call:+ 0376 206 ***</span>
                            </div>                                   
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="content-infor-slide d-flex">
                            <div>
                                <i class="fas fa-plane-departure"></i>
                            </div>
                            <div>
                                <h4>Free Shipping World wide</h4>
                                <span>On Order Over $99</span>
                            </div>                                   
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="content-infor-slide d-flex">
                            <div>
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div>
                                <h4>Money back guarantee</h4>
                                <span>45 Days Return Service</span>
                            </div>                                   
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="content clearfix">
    <!-- shop category -->
    <div class="shop-category">
        <div class="container d-flex">
            <div class="col-sm-4">
                <div class="wrapper">
                    <div>
                    </div>
                    <div class="category-content">
                        <div class="content-text">
                            <h6>shop category</h6>
                            <h2>literary</h2>
                            <a href="#">Shop Now<i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-sm-4">
                <div class="wrapper">
                    <div>
                    </div>
                    <div class="category-content">
                        <div class="content-text">
                            <h6>shop category</h6>
                            <h2>Tiểu thuyết</h2>
                            <a href="#">Shop Now<i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="wrapper">
                    <div>
                    </div>
                    <div class="category-content">
                        <div class="content-text">
                            <h6>shop category</h6>
                            <h2>Language</h2>
                            <a href="#">Shop Now<i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="best-selection">
        <div class="container">
            <div class="tabs-best-selection">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a href="#bestseller" class="nav-link active" data-toggle="tab">Best Seller</a>
                    </li>
                    <li class="nav-item">
                        <a href="#book1" class="nav-link" data-toggle="tab">Book1</a>
                    </li>
                </ul>
                <!-- noidung -->
                <div class="tab-content" style="margin-top:50px">
                    <div id="bestseller" class="tab-pane active">
                        <div class="slide-bestseller owl-carousel">
                        @foreach (var item in BookDis)
                        {
                            <div class="item">
                                <div class="productbest-wrap">
                                    <span class="on-sale">
                                        @item.numberDiscount
                                    </span>
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="~/images/@item.imgBook">
                                            <div class="button-search">
                                                <a href="Home/DetailProduct/@item.idBook">
                                                    <i class="fas fa-search"></i>
                                                </a>  
                                            </div>
                                        </a>
                                        <div class="product-button">
                                            <div class="add-to-cart">
                                                <a data-name='@item.nameBook'
                                                data-price = '@item.priceBook' 
                                                id="@item.idBook"
                                                data-image= '@item.imgBook'>Add to cart</a>
                                            </div>
                                            <div class="menu-tocart">
                                                <a href="#"><i class="fas fa-bars"></i></a>
                                            </div>
                                            <div class="love-tocart">
                                                <a href="#"><i class="fas fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="#">@item.nameBook</a>
                                        </h4>
                                        <div class="price">
                                            <span>@item.priceBook$</span>
                                            <span>@item.priceBook - 
                                                (@item.priceBook * @item.numberDiscount)/100 $</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                            
                            
                        </div>
                    </div>
                    <div id="book1" class="tab-pane fade">
                        <div class="slide-bestseller owl-carousel">
                            <div class="item">
                                <div class="productbest-wrap">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="~/images/book7.png">
                                            <div class="button-search">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </a>
                                        <div class="product-button">
                                            <div class="add-to-cart">
                                                <a>Add to cart</a>
                                            </div>
                                            <div class="menu-tocart">
                                                <a href="#"><i class="fas fa-bars"></i></a>
                                            </div>
                                            <div class="love-tocart">
                                                <a href="#"><i class="fas fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="#">Loving Chickens</a>
                                        </h4>
                                        <div class="price">120$</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="productbest-wrap">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="~/images/book7.png">
                                            <div class="button-search">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </a>
                                        <div class="product-button">
                                            <div class="add-to-cart">
                                                <a href="#">Add to cart</a>
                                            </div>
                                            <div class="menu-tocart">
                                                <a href="#"><i class="fas fa-bars"></i></a>
                                            </div>
                                            <div class="love-tocart">
                                                <a href="#"><i class="fas fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="#">Loving Chickens</a>
                                        </h4>
                                        <div class="price">120$</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="productbest-wrap">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="~/images/book7.png">
                                            <div class="button-search">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </a>
                                        <div class="product-button">
                                            <div class="add-to-cart">
                                                <a href="#">Add to cart</a>
                                            </div>
                                            <div class="menu-tocart">
                                                <a href="#"><i class="fas fa-bars"></i></a>
                                            </div>
                                            <div class="love-tocart">
                                                <a href="#"><i class="fas fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="#">Loving Chickens</a>
                                        </h4>
                                        <div class="price">120$</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="productbest-wrap">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="~/images/book7.png">
                                            <div class="button-search">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </a>
                                        <div class="product-button">
                                            <div class="add-to-cart">
                                                <a href="#">Add to cart</a>
                                            </div>
                                            <div class="menu-tocart">
                                                <a href="#"><i class="fas fa-bars"></i></a>
                                            </div>
                                            <div class="love-tocart">
                                                <a href="#"><i class="fas fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="#">Loving Chickens</a>
                                        </h4>
                                        <div class="price">120$</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="productbest-wrap">
                                    <div class="product-img">
                                        <a href="#">
                                            <img src="~/images/book7.png">
                                            <div class="button-search">
                                                <i class="fas fa-search"></i>
                                            </div>
                                        </a>
                                        <div class="product-button">
                                            <div class="add-to-cart">
                                                <a href="#">Add to cart</a>
                                            </div>
                                            <div class="menu-tocart">
                                                <a href="#"><i class="fas fa-bars"></i></a>
                                            </div>
                                            <div class="love-tocart">
                                                <a href="#"><i class="fas fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h4>
                                            <a href="#">Loving Chickens</a>
                                        </h4>
                                        <div class="price">120$</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"><div class="productbest-wrap">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="~/images/book7.png">
                                        <div class="button-search">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </a>
                                    <div class="product-button">
                                        <div class="add-to-cart">
                                            <a href="#">Add to cart</a>
                                        </div>
                                        <div class="menu-tocart">
                                            <a href="#"><i class="fas fa-bars"></i></a>
                                        </div>
                                        <div class="love-tocart">
                                            <a href="#"><i class="fas fa-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4>
                                        <a href="#">Loving Chickens</a>
                                    </h4>
                                    <div class="price">120$</div>
                                </div>
                            </div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flash-sale">
        <div class="container">
            <div class="flash-sale-inner">
                <div class="title-flash d-flex">
                    <img src="~/images/logo-sale.jpg">
                    <div>
                        <h3>Free Ship
                            <span>20$</span>
                            Cho tất cả đơn hàng
                        </h3>
                        <div class="time-flash-sale">
                            <span>1/1/2020-1/1/2021</span>
                        </div>
                        <span>
                            Kết thúc trong
                        </span>
                        <div class="countdown">
                            <div class="day-countdown">
                                <span id="day"></span>
                                <span>Days</span>
                            </div>
                            <div class="haicham">:</div>
                            <div class="day-countdown">
                                <span id="hours"></span>
                                <span>Hours</span>
                            </div>
                            <div class="haicham">:</div>
                            <div class="day-countdown">
                                <span id="minutes"></span>
                                <span>minutes</span>
                            </div>
                            <div class="haicham">:</div>
                            <div class="day-countdown">
                                <span id="seconds"></span>
                                <span>Seconds</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    <div class="product-sale">
        <div class="container">
            <div class="row product-sale-wrapper">
                <div class="col-sm-4">
                    <div class="product-sale-inner">
                        <div class="heading-product-sale">
                            <span>Product đồng giá</span>
                        </div>
                        <div class="product-sale-list">
                            <ul>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-sale-inner">
                        <div class="heading-product-sale">
                            <span>Product đồng giá</span>
                        </div>
                        <div class="product-sale-list">
                            <ul>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="product-sale-inner">
                        <div class="heading-product-sale">
                            <span>Product đồng giá</span>
                        </div>
                        <div class="product-sale-list">
                            <ul>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                                <li class="flex-wrap d-flex">
                                    <div class="col-sm-4">
                                        <div></div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>
                                            <a href="#">
                                                The Best Investment
                                            </a>
                                        </h2>
                                        <div>
                                            <span>$360.000</span>
                                            <span>$205.000</span>
                                        </div>
                                        
                                    </h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-author">
        <div class="container">
            <div class="content-author">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="content-item">
                            <i class="fas fa-quote-left"></i>
                            <p>I can say without doubt that your team are a true
                                pleasure to work with. They are easy to communicate
                                with which make process smooth. Higly recommended.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content-item">
                            <i class="fas fa-quote-left"></i>
                            <p>You're the best! You did an amazing and prefect job...
                                We have received many positive feedbacks on our new site
                                since the launch. Great thanks again.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content-item">
                            <i class="fas fa-quote-left"></i>
                            <p>Your staff has been nothing less than professional and respectful.
                                    They are super patient and really listened to what I wanted. I 
                                    would give you the top starts!
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content-item">
                            <i class="fas fa-quote-left"></i>
                            <p>I can say without doubt that your team a true pleasure to work with.
                                They are easy to communicate with which make process smooth. 
                                Highly recommended.
                            </p>
                        </div>
                    </div>
                </div>
                <ul id="carousel-custom-dots" class="owl-dots d-flex justify-content-center">
                    <li class="owl-dot">
                        <img src="~/images/team-4-150x150.jpg">
                    </li>
                    <li class="owl-dot">
                        <img src="~/images/team-5-150x150.jpg">
                    </li>
                    <li class="owl-dot">
                        <img src="~/images/team-1-150x150.jpg">
                    </li>
                    <li class="owl-dot">
                        <img src="~/images/team-3-150x150.jpg">
                    </li>
                </ul>
            </div>
            
        </div>
        
    </div>
</div>
