@{
    ViewData["Title"] = "Product Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var BookNotDis = ViewBag.BookNotDis;
    var BookDis = ViewBag.BookDis;
    var NameCategory = ViewBag.NameCategory;
}
<div class="content clearfix">
    <div class="page-header page-header-product">
        <div class="container">
            <h1>Shop</h1>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/Home">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    @foreach(var item in NameCategory) {
                        <strong>@item.nameCategory</strong>
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <div class="row">
            <!-- product left -->
            <div class="agileinfo-ads-display col-lg-12">
                <div class="wrapper">
                    <!-- first section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <h3 class="heading-tittle text-center font-italic">
                            Discount Book
                        </h3>
                        
                        <div class="row">
                            @foreach(var item in BookDis) {
                            <div class="col-md-3 product-men mt-5">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item text-center">
                                        <img src="../../images/@item.imgBook" alt="@item.nameBook"
                                        widtd= '194px' height='300px'>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="../../Home/DetailProduct/@item.idBook" 
                                                class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                        <span class="product-new-top">-@item.numberDiscount%</span>
                                    </div>
                                    <div class="item-info-product text-center border-top mt-4">
                                        <h4 class="pt-1">
                                            <a href="#">@item.nameBook</a>
                                        </h4>
                                        <div class="info-product-price my-2">
                                            <span class="item_price">
                                                $@(item.priceBook - item.priceBook*item.numberDiscount/100)
                                            </span>
                                            <del>$@item.priceBook</del>
                                        </div>
                                        <div class="snipcart-details add-to-cart top_brand_home_details item_add single-item hvr-outline-out">
                                            <a class="button btn"
                                            data-name='@item.nameBook'
                                            data-price = '@item.priceBook' 
                                            data-number = '@item.numberDiscount'
                                            data-image= '@item.imgBook'
                                            id="@item.idBook">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                            
                            
                        </div>
                    </div>
                    <!-- //first section -->
                    <!-- second section -->
                    <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4">
                        <h3 class="heading-tittle text-center font-italic">Books by Category</h3>
                        <div class="row">
                            @foreach(var item in BookNotDis) {
                            <div class="col-md-3 product-men mt-5">
                                <div class="men-pro-item simpleCart_shelfItem">
                                    <div class="men-thumb-item text-center">
                                        <img src="../../images/@item.imgBook" alt="@item.nameBook" 
                                        widtd= '194px' height='300px'>
                                        <div class="men-cart-pro">
                                            <div class="inner-men-cart-pro">
                                                <a href="../../Home/DetailProduct/@item.idBook" class="link-product-add-cart">Quick View</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-info-product text-center border-top mt-4">
                                        <h4 class="pt-1">
                                            <a href="#">@item.nameBook</a>
                                        </h4>
                                        <div class="info-product-price my-2">
                                            <span class="item_price">
                                                $@(item.priceBook)
                                            </span>
                                        </div>
                                        <div class="snipcart-details add-to-cart top_brand_home_details item_add single-item hvr-outline-out">
                                            <a class="button btn"
                                            data-name='@item.nameBook'
                                            data-price = '@item.priceBook' 
                                            data-number = '0'
                                            data-image= '@item.imgBook'
                                            id="@item.idBook">Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                            
                        </div>
                    </div>
                    <!-- //second section -->
                </div>
            </div>
            <!-- //product left -->
        </div>
    </div>
</div>